global-reset()

$_cardWidth = 500px
$_halfCardWidth = $_cardWidth / 2
$_stepperSize = 100px
$_halfStepperSize = $_stepperSize / 2
$_quarterStepperSize = $_halfStepperSize / 2

#app
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  background-color: #ccd
  perspective: 800px
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

// This is needed because we have to add a wrapper around the svg node
// because there is an error using the class attribute on an svg node
// in the elm library.
.icon > svg
  position: absolute
  width: 100%
  height: 100%

.stepper
  position: absolute
  width: $_stepperSize
  height: $_stepperSize
  top: 50%
  left: 50%
  border-radius: 50%
  background-color: shade(#ccd, 5%)
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3)
  transition: transform 0.2s ease-in-out,
              background-color 0.2s ease-in-out

  &.enabled
    cursor: pointer
    background-color: #f93

    .icon
      fill: shade(#f93, 15%)

  .icon
    position: absolute
    top: 10px
    left: 22.5px
    width: 55px
    height: 80px
    transform: translate(0%, 0%)
    fill: shade(#ccd, 5%)
    transition: transform 0.2s ease-in-out,
                fill 0.2s ease-in-out

$_stepForwardX = -($_halfStepperSize) + $_halfCardWidth
#step-forward
  transform: translate($_stepForwardX - $_quarterStepperSize, -($_halfStepperSize))
  .icon
    transform: translate(8px, 0px)

  &.enabled
    transform: translate($_stepForwardX, -($_halfStepperSize))

    &:hover
      .icon
        transform: translate(50%, 0%)


$_stepBackX = -($_halfStepperSize) - $_halfCardWidth
#step-back
  transform: translate($_stepBackX + $_quarterStepperSize, -($_halfStepperSize))
  .icon
    transform: translate(-5px, 0px)

  &.enabled
    transform: translate($_stepBackX, -($_halfStepperSize))

    &:hover
      .icon
        transform: translate(-50%, 0%)

$_cardEaseDur = 0.8s
.card
  position: absolute
  width: $_cardWidth
  padding: 50px 0
  height: 100%
  box-sizing: border-box
  left: 50%
  transform: translate(-50%, 0%) rotateY(0deg)
  transform-style: flat
  visibility: visible
  z-index: 100
  -webkit-filter: brightness(100%)
  transition: transform $_cardEaseDur ease-in-out,
              visibility $_cardEaseDur ease-in-out
  -webkit-transition: transform $_cardEaseDur ease-in-out,
                      visibility $_cardEaseDur ease-in-out,
                      -webkit-filter $_cardEaseDur linear

  &.pending, &.discarded
    -webkit-filter: brightness(50%)
    visibility: hidden

  &.pending
    transform: translate(150vw, 0%) rotateY(-90deg)

  &.discarded
    transform: translate(-150vw, 0%) rotateY(90deg)

.card-contents
  height: 100%
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3)
  background-color: #fff
  border: 1px solid #99a
  border-radius: 5px
  overflow: hidden

.editor-input
  width: 100%
  height: 100%
  padding: 20px
  font-size: 40px
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  overflow: hidden
  resize: none
  outline: none
  box-sizing: border-box
  border: none

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotateZ(0deg)
  }

  to {
    transform: translate(-50%, -50%) rotateZ(360deg)
  }
}

#waiting-for-parse
  position: relative

  .message, .icon
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  .message, .info
    width: 100%
    text-align: center
    color: shade(#ccd, 35%)
    padding: 0px 40px
    box-sizing: border-box

  .message
    font-size: 40px
    line-height: 54px

  .info
    position: absolute
    bottom: 20px
    font-size: 18px
    line-height: 24px

  .icon
    position: absolute
    width: 350px
    height: 350px
    fill: lighten(#ccd, 50%)
    animation-name: spin
    animation-duration: 2s
    animation-iteration-count: infinite
    animation-timing-function: linear
