global-reset()

.editor
  margin: 0 auto
  max-width: 500px

.editor-input
  width: 100%
  padding: 20px
  font-size: 32px
  box-sizing: border-box
  border: 1px solid #ccc
  border-radius: 5px
  overflow: hidden
